/* 
    DEFAULT STYLE
*/

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    background-color: #DEDEDE;
}

/* 
    CONTENT
*/

.page-title {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 35px 0;
}

.scroll-btn-container {
    text-align: right;
}

.scroll-btn {
    margin-top: 30px;
}

.sticky {
    position: sticky !important;
    z-index: 1;
    top: 0;
    width: 100%;
}

/* 
    REMINDER PANEL
*/

.delete-btn {
    margin-top: 10px;
}

.card-box-shadow {
    box-shadow: 5px 5px 10px #BBBABA;
}

.card-container{
    margin: 20px 0;
}

/* 
    FORM PANEL
*/

.form-container {
    margin: 20px 0;
}

.form-title {
    font-weight: 300;
    margin-bottom: 25px;
    text-align: center;
}

.submit {
    margin: 10px 0;
}

.btn-img {
    height: 25px;
}

.up-scroll-container {
    text-align: center;
}

.up-scroll {
    height: 25px;
}

/*
    FOOTER
*/

.ftr-content {
    text-align: center;
    margin: 20px 0;
}

.ftr-content a {
    color: #000000;
    font-weight: 200;
    text-decoration: none;
}

.ftr-content a:hover {
    color: #A5A4A4;
}

.ftr-links {
    margin: 10px 0;
}

.ftr-img {
    margin: 0 5px;
}

.form-input {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #DEDEDE;
}


